<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}" />
  </head>
 <body style="background-color:lightgray">
  <h1 style="padding-top:50px;padding-left:20px;padding-bottom:0;">City Comparison</h1>
  
  <nav class="navigation">
    <a href="/princeton" class="navigationText">Princeton,NJ</a></li>	
    <a href="/seattle" class="navigationText">Seattle,WA</a></li>	
    <a href="/nyc" class="navigationText">NYC</a></li>	
    <a href="/city-stats"class="navigationText">City Stats</a></li>	
  </nav>


  <div>
    <h3>City Stats</h3>
    {% for table in tables %}
          {{ table|safe }}
    {% endfor %}
  </div>
</div>

 </body>
</html>
