<!doctype html>
<html>
 <body style="background-color:lightgray">
  <h1 style="padding-top:50px;padding-left:20px;padding-bottom:0;"> House Price Monitoring (For Sale)</h1>
  
  <nav style="background-color: #333;position: fixed;top: 0;width: 100%;">	
    <a href="/princeton" style="float: left;display: block;color: #f2f2f2;text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;">Princeton,NJ</a></li>	
    <a href="/seattle" style="float: left;display: block;color: #f2f2f2;text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;">Seattle,WA</a></li>	
    <a href="/nyc" style="float: left;display: block;color: #f2f2f2;text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;">NYC</a></li>	
    <a href="/city-stats" style="float: left;display: block;color: #f2f2f2;text-align: center;padding: 14px 16px;text-decoration: none;font-size: 17px;">City Stats</a></li>	
  </nav>
  
  <!-- <div style="display: flex; flex-direction: row wrap;"> -->
    <!-- <div>
      <h3>Select Grouping</h3>
      <form name="groupingType" method="GET">
        <select name="groupingType">
          <option value="price" selected>price</option>
          <option value="area" >area</option>
          <option value="unit_price" >price/square</option>
        </select>
      <input type="submit" name="submit"/>
      </form>
    </div> -->
  
    <div style="display: flex; flex-direction: row wrap;">
      <div>
        <h3 style="padding-left:20px">City Map</h3>
        <div id='chart' class='chart'”></div>
      </div>
      
      <div style="display: flex; flex-direction: column;">
        <div style="padding-left:20px">
          <h3>2B2B and 3B2B Price over month</h3>
          <div id='boxplot' class='boxplot'”></div>
        </div>

        <div style="height:320px;overflow:auto;padding-left:20px" >
          <h3>Price Summary this month</h3>
          {% for table in tables %}
                {{ table|safe }}
          {% endfor %}
        </div>
      </div>
    
    </div>

  
</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
  var graphs = {{graphJSON[0] | safe}};
  Plotly.plot('chart',graphs,{});

  var graphs2 = {{graphJSON[1] | safe}};
  Plotly.plot('boxplot',graphs2,{});
</script>

</html>