.container {
    display: flex;
    justify-content: right;
    height: 100vh;
    width: auto;
    gap: 20px;
  }

.collapsible {
    cursor: pointer;
    padding-top: 10px;
  }


.content {
    padding: 10px;
    display: none;
    overflow: hidden;
    background-color: #5b5b5b;
    width: 100%;
    color: white;
  }

.navigation {
  background-color: #333;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigationText {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.customizeSettings {
  color: #f2f2f2;
  padding: 30px;
  font-size: 16px;
}
